<header class="header header-sticky" style="height: 140px; background-color: rgb(60 75 100);"
        xmlns:th="http://www.thymeleaf.org">

    <div class="container-fluid">
        <button class="header-toggler px-md-0 me-md-5" type="button"
                onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
                <img src="/vendor/brand/hum.png" width="25px" height="25px">
            </svg>
        </button>
        <div> <p class="fs-4 text-light"><strong>BADAN NARKOTIKA NASIONAL <br> Kota Bandung</strong></p>
        </div>
        <a class="header-brand d-md-none" href="#">
        </a>
        <ul class="header-nav ms-auto">
        </ul>
        <ul class="header-nav ms-3">
        </ul>
    </div>
</header>