<div class="sidebar sidebar-dark sidebar-fixed" tabindex="0" role="region" style="width: 260px; background-color: rgb(60 75 100); overflow: hidden;" id= "sidebar"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div class="sidebar-brand d-none d-md-flex py-2">
        <svg class="sidebar-brand-full position-absolute top-50 start-50 translate-middle">
            <img src="/vendor/brand/BNNLOGO1.png" alt="" width="120px" height="120px">
        </svg>
        <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
            <use xlink:href="/vendor/brand/coreui.svg#signet"></use>
        </svg>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="init">
        <div class="simplebar-wrapper" style="height: 100%; overflow: hidden scroll;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%;">
                        <div class="simplebar-content" style="padding: 0px;">

                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard">
                                    <svg class="nav-icon">
                                        <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-home"></use>
                                    </svg> Beranda
                                </a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" href="/mail">
                                <svg class="nav-icon">
                                    <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-envelope-closed"></use>
                                </svg> Persuratan
                                </a>
                            </li>
                            <li class="nav-group">
                                <a  class="nav-link nav-group-toggle" href="#">
                                <svg class="nav-icon">
                                    <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-bookmark"></use>
                                </svg> Laporan</a>
                                <ul class="nav-group-items" style="height: auto;">
                                    <li class="nav-item"><a class="nav-link" href="/mail/acc-laporan"><span class="nav-icon"></span>Acc Laporan</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/mail/view-hasilLaporan"><span class="nav-icon"></span>Hasil Laporan</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                <svg class="nav-icon">
                                    <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                                </svg> Keluar
                            </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: 260px; height: 80%;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar" style="height: 151px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </ul>
</div>