<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-152">
        <div class="table-responsive-xxl">
            <table class="table table-bordered border-dark">
                <thead>
                    <tr class="table-dark" style="text-align:center;">
                        <th scope="col">Status</th>
                        <th scope="col">No.Surat</th>
                        <th scope="col">Asal Surat</th>
                        <th scope="col">Tanggal Surat </th>
                        <th scope="col">Perihal/isi Surat</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="val, status : ${data}">
                        <td th:text="${val.statusApproveDesc}"/>
                        <td th:text="${val.noSurat}"/>
                        <td th:text="${val.asalSurat}"/>
                        <td th:text="${val.tanggalSurat}"/>
                        <td th:text="${val.perihalSurat}"/>
                        <td class="align-middle" style="text-align:center;">
                            <button class="btn btn-primary btn-sm open-modal-acc-laporan" type="button"
                                    data-toggle="modal"
                                    th:data-id="${val.id}"
                                    th:data-no-surat="${val.noSurat}"
                                    th:data-tanggal-surat="${val.tanggalSurat}"
                                    th:data-tanggal-diterima="${val.tanggalDiterima}"
                                    th:data-asal-surat="${val.asalSurat}"
                                    th:data-tujuan-surat="${val.tujuanSurat}"
                                    th:data-keterangan="${val.keterangan}"
                                    th:data-perihal-surat="${val.perihalSurat}">
                                Setujui
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ModalACC" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        </div>

        <div class="modal fade" id="accLaporanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form enctype="multipart/form-data" th:action="@{/mail/modify}" th:object="${modalMailForm}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >DATA DAN VERIFIKASI SURAT MASUK</h5>
                            <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="noSurat" class="form-label">NO.SURAT</label>
                                        <input type="text" class="form-control" id="noSurat" placeholder="Masukkan Nomor Surat">
                                    </div>
                                    <div class="col-md-4 ms-auto">
                                        <label for="tanggalSurat" class="form-label">TANGGAL SURAT</label>
                                        <input type="datetime-local" class="form-control" id="tanggalSurat">
                                    </div>
                                    <div class="col-md-4 ms-auto">
                                        <label for="tanggalDiterima" class="form-label">DITERIMA TGL</label>
                                        <input type="datetime-local" class="form-control" id="tanggalDiterima">
                                    </div>
                                </div>

                                <div class="row" role="tabpanel">
                                    <div class="col-md-4">
                                        <label for="asalSurat" class="form-label">ASAL SURAT</label>
                                        <input type="text" class="form-control" id="asalSurat" placeholder="Masukkan Asal Pengiriman Surat">
                                    </div>
                                    <div class="col-md-4 ms-auto">
                                        <label for="tujuanSurat" class="form-label">DITUNJUKKAN KEPADA</label>
                                        <input type="text" class="form-control" id="tujuanSurat" placeholder="Masukkan Tujuan Surat">
                                    </div>
                                    <div class="col-md-4 ms-auto">
                                        <label for="keterangan" class="form-label">KETERANGAN</label>
                                        <input type="text" class="form-control" id="keterangan" placeholder="Masukkan Keterangan">
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <label for="perihalSurat" class="form-label">PERIHAL/ISI SURAT</label>
                                        <input type="text" class="form-control" id="perihalSurat" placeholder="Masukkan Perihal/Isi Surat">
                                    </div>
                                </div>

                                <div>
                                    <div class="row" role="tabpanel">
                                        <label for="disposisi" class="form-label">Diposisi</label>
                                        <div class="tab-pane p-3 active preview" role="tabpanel" id="disposisi">
                                            <div th:each="category : ${dispositionCategoryOptions}" class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" th:field="*{dispositionCategory}" th:value="${category.code}">
                                                <label class="form-check-label" th:text="${category.description}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Close</button>
                            <button id="submitModal" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/app/laporan/js/accLaporan.js}"></script>
</th:block>
</body>
</html>