<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<body>
<div layout:fragment="content" class="container-lg">
  <div class="tab-content rounded-bottom">
    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-280">
      <div class="accordion" id="accordionExample">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTu">
            <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseTu" aria-expanded="false" aria-controls="collapseTu"><strong>Seksi Tata Usaha</strong></button>
          </h2>
          <div class="accordion-collapse collapse" id="collapseTu" aria-labelledby="headingTu" data-coreui-parent="#accordionExample">
            <div class="accordion-body">
              <div class="tab-pane p-3 active preview" role="tabpanel" >
                <div class="table-responsive-xxl">
                  <table class="table table-bordered border-dark">
                    <thead>
                    <tr>
                    <tr class="table-dark" style="text-align:center;">
                      <th scope="col">Status</th>
                      <th scope="col">No.Surat</th>
                      <th scope="col">Asal Surat</th>
                      <th scope="col">Tanggal Surat </th>
                      <th scope="col">Perihal/isi Surat</th>
                      <th scope="col">Aksi</th>
                    </thead>
                    <tbody>
                    <tr th:each="val, status : ${dataTataUsaha}" style="text-align:center;">
                      <td th:text="${val.statusApproveDesc}"/>
                      <td th:text="${val.noSurat}"/>
                      <td th:text="${val.asalSurat}"/>
                      <td th:text="${val.tanggalSurat}"/>
                      <td th:text="${val.perihalSurat}"/>
                      <td class="tab-pane p-3 active preview" role="tabpanel">
                        <a type="button" target="_blank" th:href="@{'/file/view/'+${val.uploadId}}" class="btn btn-light">
                          <img src="/vendor/brand/V.png" alt="" width="24px" height="24px">
                        </a>
                        <a type="button" target="_blank" th:href="@{'/file/download/'+${val.uploadId}}" class="btn btn-light">
                          <img src="/vendor/brand/D.png" alt="" width="24px" height="24px">
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingP2m">
            <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseP2m" aria-expanded="false" aria-controls="collapseP2m"><strong>Seksi P2M</strong></button>
          </h2>
          <div class="accordion-collapse collapse" id="collapseP2m" aria-labelledby="headingP2m" data-coreui-parent="#accordionExample">
            <div class="accordion-body">
              <div class="tab-pane p-3 active preview" role="tabpanel" >
                <div class="table-responsive-xxl">
                  <table class="table table-bordered border-dark">
                    <thead>
                    <tr>
                    <tr class="table-dark" style="text-align:center;">
                      <th scope="col">Status</th>
                      <th scope="col">No.Surat</th>
                      <th scope="col">Asal Surat</th>
                      <th scope="col">Tanggal Surat </th>
                      <th scope="col">Perihal/isi Surat</th>
                      <th scope="col">Aksi</th>
                    </thead>
                    <tbody>
                    <tr th:each="val, status : ${dataP2M}" style="text-align:center;">
                      <td th:text="${val.statusApproveDesc}"/>
                      <td th:text="${val.noSurat}"/>
                      <td th:text="${val.asalSurat}"/>
                      <td th:text="${val.tanggalSurat}"/>
                      <td th:text="${val.perihalSurat}"/>
                      <td class="tab-pane p-3 active preview" role="tabpanel">
                        <a type="button" target="_blank" th:href="@{'/file/view/'+${val.uploadId}}" class="btn btn-light">
                          <img src="/vendor/brand/V.png" alt="" width="24px" height="24px">
                        </a>
                        <a type="button" target="_blank" th:href="@{'/file/download/'+${val.uploadId}}" class="btn btn-light">
                          <img src="/vendor/brand/D.png" alt="" width="24px" height="24px">
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingRehab">
            <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseRehab" aria-expanded="false" aria-controls="collapseRehab"><strong>Seksi Rehabilitasi</strong></button>
          </h2>
          <div class="accordion-collapse collapse" id="collapseRehab" aria-labelledby="headingRehab" data-coreui-parent="#accordionExample">
            <div class="accordion-body">
              <div class="tab-pane p-3 active preview" role="tabpanel" >
                <div class="table-responsive-xxl">
                  <table class="table table-bordered border-dark">
                    <thead>
                    <tr style="text-align:center;">
                    <tr class="table-dark">
                      <th scope="col">Status</th>
                      <th scope="col">No.Surat</th>
                      <th scope="col">Asal Surat</th>
                      <th scope="col">Tanggal Surat </th>
                      <th scope="col">Perihal/isi Surat</th>
                      <th scope="col">Aksi</th>
                    </thead>
                    <tbody>

                    <tr th:each="val, status : ${dataRehabilitasi}" style="text-align:center;">
                      <td th:text="${val.statusApproveDesc}"/>
                      <td th:text="${val.noSurat}"/>
                      <td th:text="${val.asalSurat}"/>
                      <td th:text="${val.tanggalSurat}"/>
                      <td th:text="${val.perihalSurat}"/>
                      <td class="tab-pane p-3 active preview" role="tabpanel">
                        <a type="button" target="_blank" th:href="@{'/file/view/'+${val.uploadId}}" class="btn btn-light">
                          <img src="/vendor/brand/V.png" alt="" width="24px" height="24px">
                        </a>
                        <a type="button" target="_blank" th:href="@{'/file/download/'+${val.uploadId}}" class="btn btn-light">
                          <img src="/vendor/brand/D.png" alt="" width="24px" height="24px">
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingBrantas">
            <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapseBrantas" aria-expanded="false" aria-controls="collapseBrantas"><strong>Seksi Brantas</strong> </button>
          </h2>
          <div class="accordion-collapse collapse" id="collapseBrantas" aria-labelledby="headingBrantas" data-coreui-parent="#accordionExample">
            <div class="accordion-body">
              <div class="tab-pane p-3 active preview" role="tabpanel">
                <div class="table-responsive-xxl">
                  <table class="table table-bordered border-dark">
                    <thead>
                    <tr>
                    <tr class="table-dark" style="text-align:center;">
                      <th scope="col">Status</th>
                      <th scope="col">No.Surat</th>
                      <th scope="col">Asal Surat</th>
                      <th scope="col">Tanggal Surat </th>
                      <th scope="col">Perihal/isi Surat</th>
                      <th scope="col">Aksi</th>
                    </thead>
                    <tbody>
                    <tr th:each="val, status : ${dataBrantas}" style="text-align:center;">
                      <td th:text="${val.statusApproveDesc}"/>
                      <td th:text="${val.noSurat}"/>
                      <td th:text="${val.asalSurat}"/>
                      <td th:text="${val.tanggalSurat}"/>
                      <td th:text="${val.perihalSurat}"/>
                      <td class="tab-pane p-3 active preview" role="tabpanel">

                        <a type="button" target="_blank" th:href="@{'/file/view/'+${val.uploadId}}" class="btn btn-light">
                          <img src="/vendor/brand/V.png" alt="" width="24px" height="24px">
                        </a>
                        <a type="button" target="_blank" th:href="@{'/file/download/'+${val.uploadId}}" class="btn btn-light">
                          <img src="/vendor/brand/D.png" alt="" width="24px" height="24px">
                        </a>

                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
</body>
</html>