<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <div class="row">
        <div class="col-12">
            <form enctype="multipart/form-data" th:action="@{/mail/modifySurat}" th:object="${ModalMailForm}" method="post">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="example">
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel">
                                    <div class="col-3">
                                        <input type="hidden" th:value="*{id}" th:field="${data.id}">
                                        <label class="form-label" for="startTimePicker">Masukan Kegiatan</label>
                                        <div class="input-group date timepicker-input" id="startTimePicker" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                   data-target="#startTimePicker" placeholder="Startime" th:value="*{startTime}" th:field="${data.startTime}"/>
                                            <span class="input-group-text" data-target="#startTimePicker" data-toggle="datetimepicker">
                        <i class="fa fa-clock-o"></i>
                      </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel">
                                    <div class="col-3">
                                        <div class="input-group date timepicker-input" id="endTimePicker" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#endTimePicker" placeholder="Endtime" th:value="*{endTime}" th:field="${data.endTime}"/>
                                            <span class="input-group-text" data-target="#endTimePicker" data-toggle="datetimepicker">
                                                <i class="fa fa-clock-o"></i>
                      </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel">
                                    <div class="col-6">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" th:value="*{descriptionActivity}" th:field="${data.descriptionActivity}"></textarea>
                                            <label for="floatingTextarea2">Comments</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Multiple files input example</label>
                                            <input class="form-control" type="file" multiple accept="image/*" th:field="*{files}">
                                            <tr class="text-white" th:each="file : ${data.modalMailDtos}">
                                                <td>
                                                    <a th:text="${file.fileDto.filename}" target="_blank" th:href="@{'/file/view/'+${file.fileDto.fileId}}"></a>
                                                </td>
                                            </tr>
                                        </div>
                                        <button class="btn btn-light" type="button"onclick="openModalForSubmitForm('common.page.0004', 'sidebar.0002', this)">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/app/modalMail/js/view.js}"></script>
</th:block>
</body>
</html>

