.button-right-align {
    display:flex;
    justify-content: flex-end;
}

.btn.btn-danger.back-button {
    margin-left: 10px;
}

.input-error {
    color: #FF3510;
}

.alert.alert-dismissible {
    width: 20% !important;
    position: fixed;
    top: 0px;
    right: 1px;
    width: 100%;
    z-index: 9999;
}

.body.body-background{
    background-image: url('../../../vendor/img/Bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}



